<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="/stylesheets/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>


    <h3>EJS exgine from contact.ejs</h3>
    <h3> email is:  <%= email %></h3>
    <h3> address is:  <%= add %></h3>
    <h3> name is:  <%= name %></h3>
    
    
    
</body>
</html>