<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>person</title>
</head>
<body>
    <h3>EJS exgine from person.ejs <%= ID %></h3>
    <!-- <h3>link ti:  <%= URL %></h3> -->
</body>
</html>