.App {
  background: cadetblue;
  text-align: center;
  width: 100%;
  height: 500px;
}
.Header{
  border: 2px solid gray;
  height: 50px;
  text-align: center;

}
.SearchResult{
  border: 2px solid gray;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: lightblue;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
